:root {
  --primary: #4bbd99;
  --secondary: #007e94;
  --tertiary: #00c398;
  --text-color: #97b5bf;
  --hover-color: rgba(151, 181, 191, 0.2);
  --drop-shadow: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
  --background: #f9fdfe;
  --white: #ffffff;
  // text size
  --text-2xs: 14px;
  --text-xs: 16px;
  --text-sm: 18px;
  --text-md: 20px;
  --text-lg: 22px;
  --text-xl: 24px;
  --text-2xl: 36px;
  --text-3xl: 48px;
  --text-4xl: 64px;

  // others
  --container: 1300px;
}

@media all and (max-width: 600px) {
  :root {
    --text-2xs: 12px;
    --text-xs: 14px;
    --text-sm: 16px;
    --text-md: 18px;
    --text-lg: 20px;
    --text-xl: 22px;
    --text-2xl: 32px;
    --text-3xl: 44px;
    --text-4xl: 50px;
  }
}
