@use "mixin" as *;

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 15px;
  color: var(--secondary);
  @include responsive(mobile) {
    font-size: 13px;
  }
}

.container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  @include responsive(desktop) {
    flex-direction: column-reverse;
  }
}

.left-side {
  display: flex;
  align-items: center;
  @include responsive(desktop) {
    flex-direction: column;
    align-items: start;
  }
  gap: 10px;
  & > ul {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 15px;
  }
  &__coppy-right {
    text-align: center;
    @include responsive(desktop) {
      width: 100%;
    }
  }
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
  @include responsive(laptop) {
    flex-direction: column;
    align-items: start;
  }
}
